{% extends "base.html" %}
{% block content %}
<div class="verticals">

    <div id="start"><a href="match"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCSuntI-weCoOLNpONBWVSIepP8KMD24DXVQ&usqp=CAU"
                width="30" height="30">
            NEW MATCH</a></div>
    <div id="instr"> <a href="instruction"><img src="https://www.safetysign.com/images/source/large-images/J6589.png"
                width="30" height="30">&nbspINSTRUCTIONS</a></div>
    <div id="about"><a href="about"><img
                src="https://www.logolynx.com/images/logolynx/79/79f06959da30dd72c47c21fce23642de.jpeg" width="30"
                height="30">&nbspABOUT</a>
    </div>


</div>
{% endblock content %}